# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore only the service account key
serviceAccountKey.json

# Ignore other potential sensitive files
*.log
*.env
.DS_Store

# Ignore IDE specific files
.vscode/
.idea/